/* Fuente general */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');

:root {
  --neon: #7db7ff;
  --neon-oscuro: #2e63ff;
  --fondo: #04091c;
  --card-bg: rgba(20, 28, 52, 0.4);
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at 30% 50%, rgba(40,70,130,0.25), transparent 60%),
              radial-gradient(circle at 80% 40%, rgba(40,70,130,0.25), transparent 60%),
              linear-gradient(180deg, #020616, #03091b);
  font-family: 'Orbitron', sans-serif;
  color: #cfe6ff;
}

/* TITULO PRINCIPAL */
.header {
  text-align: center;
  margin-top: 50px;
}

.titulo {
  font-size: 48px;
  color: var(--neon);
  text-shadow: 0 0 18px var(--neon), 0 0 40px var(--neon-oscuro);
}

.subtitulo {
  margin-top: 10px;
  font-size: 20px;
  color: rgba(180, 200, 255, 0.8);
  letter-spacing: 2px;
}

/* GRID DE PRODUCTOS */
.contenedor-productos {
  margin: 50px auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* CARD DEL PRODUCTO */
.producto {
  width: 300px;
  padding: 20px;
  background: var(--card-bg);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(50,80,150,0.2);
  text-align: center;
  margin-bottom: 50px;
  border: 2px solid rgba(70,110,255,0.3);
}

/* Nombre arriba */
.nombre-producto {
  font-size: 14px;
  background: rgba(10,20,40,0.6);
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 15px;
  color: #bcd0ff;
  text-shadow: 0 0 6px rgba(120,160,255,0.4);
}

/* Imagen */
.img-producto {
  width: 230px;
  height: auto;
  filter: drop-shadow(0 4px 16px rgba(60,100,255,0.25));
  margin-bottom: 15px;
}
.img-producto2{
  width: 395px;
  height: auto;
  filter: drop-shadow(0 4px 16px rgba(60,100,255,0.25));
  margin-bottom: 15px;  
   margin-left: -40px;   /* movela a la izquierda */
}
.img-producto3{
  width: 395px;
  height: auto;
  filter: drop-shadow(0 4px 16px rgba(60,100,255,0.25));
  margin-bottom: 15px;  
   margin-left: -40px;   /* movela a la izquierda */
}

/* Precio */
.precio {
  margin-top: 10px;
  padding: 8px 20px;
  background: rgba(10,20,40,0.6);
  border-radius: 20px;
  border: 2px solid var(--neon-oscuro);
  color: var(--neon);
  font-size: 18px;
  text-shadow: 0 0 10px var(--neon);
}
.btn-volver{
  display:inline-block;
  margin-top:26px;
  padding:12px 44px;
  border-radius:28px;
  border: 3px solid rgba(70,110,255,0.5);
  text-decoration:none;
  color:var(--neon-1);
  font-size:16px;
  letter-spacing:2px;
  text-shadow: 0 0 8px rgba(127,183,255,0.25);
  box-shadow: 0 0 18px rgba(47,98,255,0.12);
  transition: all 220ms ease;
  background: linear-gradient(180deg, rgba(0,8,20,0.06), rgba(0,0,0,0.08));
}

.btn-volver:hover{
  transform:translateY(-4px);
  box-shadow: 0 0 36px rgba(47,98,255,0.28);
  color:#ffffff;
  background: linear-gradient(180deg, rgba(47,98,255,0.18), rgba(47,98,255,0.06));
}
